@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Noto Sans SC Bold';
        font-style: normal;
        font-weight: 500;
        src: url('/fonts/NotoSansSC-Bold.ttf') format('truetype');
    }

    pre > code {
        font-family: 'Noto Sans SC Bold';
        font-size: 1.2rem;
    }

    .NotoSansSC-Bold {
        font-family: 'Noto Sans SC Bold';
        @apply text-white;
    }
}
